HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# IntelliJ specific files
.idea/
*.iml
out/

# Maven specific files
target/
# git reset HEAD ./idea - dalej nie bierze go pod uwagę

mvnw
mvnw.cmd
.mvn/
C:\\Users\\10619730\\Desktop\\New folder\\test.xlsx