@charset "utf-8";
table {
    width: 100%;
    border-collapse: collapse;
}


@font-face{
    font-family: TKTypeRegular;
    src: url('../fonts/TKReg.ttf');
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #f4f4f4;
}

tr:nth-of-type(even) {
    background: #fff;
}

th {
    background: #e9ecef;;
    color: #000000;
    font-weight: 300;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

td:nth-of-type(1) {
    font-weight: 500 !important;
}

td {
    font-family: TKTypeRegular !important;
    font-weight: 300;
    line-height: 20px;
}

span {
    font-style: italic
}
.title {
    font-family: TKTypeRegular !important;
    font-weight: 300;
    line-height: 20px;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table.responsive,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        display: block !important;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
    }

    .responsive tr {
        border: 1px solid #ccc;
    }

    .responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 25% !important;
    }

    .responsive td:before {
        /* Now like a table header */
        position: absolute !important;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap !important;
        font-weight: 500 !important;
    }

    /*
      Label the data
      */
    .responsive td:before {
        content: attr(data-table-header) !important;
    }
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


body {
    font-family: TKTypeRegular;
}
.navbar-default{background:#3285D1;border-color: #3285D1;}
.navbar-default .navbar-nav > li > a{color:#FFF;}
.nav > li > a{margin:15px; font-size: 17px; color:#FFF;}
.nav .open > a, .nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}

/*.navbar-brand{*/
/*    margin: 15px !important;*/
/*    padding: 13px !important;*/
/*    color: #fff !important;*/
/*    font-size: 2em !important;*/
/*    font-weight: bold !Important;*/
/*}*/

.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{background:#fff !important;}
.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

